body{
    margin: 0;
    padding: 0;
}
ul,#main-image{
    float: left;
}
ul li{
    list-style: none;
}
ul li img{
    width: 100px;
    cursor: pointer;
}
#main-image{
    width: 500px;
}
#main-image img{
    width: 410px;
    margin-top: 5px;
    margin-left: 30px;
}